<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="
            height = [pixel_value | device-height] ,
            width = [pixel_value | device-width ] ,
            initial-scale = float_value ,
            minimum-scale = float_value ,
            maximum-scale = float_value ,
            user-scalable = [yes | no] ,
            target-densitydpi = [dpi_value | device-dpi | high-dpi | medium-dpi | low-dpi]
        "
    />
    <title>3DExhibition</title>
    <!--控制IE最新版本-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--保证网页在移动端正常显示-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../dist/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../css/bootstrapValidator.css" rel="stylesheet">
    <link href="../css/base.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../css/3DExhibition.css">
    <link rel="stylesheet" type="text/css" href="../css/iconfontwy.css">
    <link href="../css/navFooter.css" type="text/css" rel="stylesheet">
    <!--矢量图标引入-->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <!--IE兼容html5-->
    <!==[if It IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class='container-fluid' ondblclick="ocultar_login_sign_up()">

<header class='row'>
    <%-include("navHeader.ejs")%>
</header>
<section class='row'>
    <!--banner---------->
    <div class='threeExhibition_banner col-lg-12 col-md-12 col-sm-12 '>
        <img src="../images/wy-01.png" alt="" class='col-lg-12 col-md-12 col-sm-12 '>
        <div class='threeExhibition_bannertext col-lg-10 col-md-10 col-sm-10  col-lg-offset-2 col-md-offset-2 col-sm-offset-2 '>
            <p>360°全景</p>
            <hr />
            <p class='threeExhibition_detailstext'>全新的交互式浏览体验、真实的实际景观，身临其境的感受，准确<br />筛选来确定你的选择。</p>
        </div>
    </div>
    <!--main----------->
    <div class='threeExhibition_main col-lg-12 col-md-12 col-sm-12 '>
        <div class='threeExhibition_maintitle col-lg-2 col-md-2 col-sm-2  col-lg-offset-5 col-md-offset-5 col-sm-offset-5 '>
            3D展示区
            <hr>
        </div>
        <div class='col-lg-12 col-md-12 col-sm-12 threeExhibition_maintext'>
            <div class='threeExhibition_mainimg_1  col-lg-2 col-md-2 col-sm-2 '>
                <img src="../images/keting_o_o_0.jpg" alt="…" />
                <div class='threeExhibition_main_geli_1'>
                    <h1>1</h1>
                    <p class='threeExhibition_detailstext'>地中海风格</p>
                    <button type="button" class="btn btn-success"  onclick='threeDJump_1();'>3D体验</button>
                </div>
            </div>
            <div class='threeExhibition_mainimg_2  col-lg-2 col-md-2 col-sm-2 '>
                <img src="../images/城市LOMO.jpg" alt="…" />
                <div class='threeExhibition_main_geli_2'>
                    <h1>2</h1>
                    <p class='threeExhibition_detailstext'>现代风格</p>
                    <button type="button" class="btn btn-success" onclick='threeDJump_2();'>3D体验</button>
                </div>
            </div>
            <div class='threeExhibition_mainimg_3  col-lg-2 col-md-2 col-sm-2 '>
                <img src="../images/田园风格.jpg" alt="…" />
                <div class='threeExhibition_main_geli_3'>
                    <h1>3</h1>
                    <p class='threeExhibition_detailstext'>田园风格</p>
                    <button type="button" class="btn btn-success" onclick='threeDJump_3();'>3D体验</button>
                </div>
            </div>
            <div class='threeExhibition_mainimg_4  col-lg-2 col-md-2 col-sm-2 '>
                <img src="../images/现代风格.jpg" alt="…" />
                <div class='threeExhibition_main_geli_4'>
                    <h1>4</h1>
                    <p class='threeExhibition_detailstext'>城市LOMO</p>
                    <button type="button" class="btn btn-success" onclick='threeDJump_4();'>3D体验</button>
                </div>
            </div>
            <div class='threeExhibition_mainimg_5  col-lg-2 col-md-2 col-sm-2 '>
                <img src="../images/屌丝绅士.jpg" alt="…" />
                <div class='threeExhibition_main_geli_5'>
                    <h1>5</h1>
                    <p class='threeExhibition_detailstext'>屌丝绅士风格</p>
                    <button type="button" class="btn btn-success" onclick='threeDJump_5();'>3D体验</button>
                </div>
            </div>
        </div>
    </div>
    <div class='threeExhibition_toDiv'>
        <p onclick='divPlane();'>还在等什么?一起来DIY吧</p>
        <i class="iconfont icon-xiangyou"></i>
    </div>
</section>
<%-include("footer.ejs")%>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../dist/js/bootstrap.js"></script>
<script src="../dist/js/bootstrapValidator.js"></script>
<script src='../../../node_modules/less/dist/less.js'></script>
<script src='../js/3DExhibition.js'></script>
<script src="../js/navFooter.js"></script>
</body>
</html>