<footer class="container-fluid">
    <div id="sy_footer_box" class="row">
        <ul>
            <li>关于我们</li>
            <li><b></b></li>
            <li onclick="window.location.href='index'"  class="sy_footer_jg" >GESSATO</li>
            <li onclick="window.location.href='about'">公司简介</li>
        </ul>
        <ul>
            <li>产品服务</li>
            <li><b></b></li>
            <li  onclick="window.location.href='3DExhibition'" class="sy_footer_jg">3D样板间</li>
            <li onclick="window.location.href='diyM'">DIY设计</li>
            <li>生产流程</li>
        </ul>
        <ul>
            <li>其他</li>
            <li><b></b></li>
            <li onclick="window.location.href='global'" class="sy_footer_jg">原材料基地</li>
            <li onclick="window.location.href='sjsstylist'">资源整合—设计师</li>
        </ul>
        <ul>
            <li>联系我们</li>
            <li><b></b></li>
            <li   onclick="window.location.href='global'" ><span>&#xe6aa</span>成都市高新区龙应路
                288号创业中心</li>
            <li><span>&#xe61e</span>028-7852368</li>
        </ul>
        <ul id="sy_contact">
            <li>客户端下载</li>
            <li><b></b></li>
            <li>
                <img src="../images/iphone1.png" alt="">
                <img src="../images/android1.png" alt="">
            </li>
            <li>
                <a>iphone版</a>
                <a>Android版</a>
            </li>
        </ul>
    </div>
    <div class="sy_footer_bottom">
        <h6>@2016 All Copyright Reserved By Techcode.com</h6>
    </div>
</footer>
<a id="ibangkf" href="http://www.ibangkf.com">在线客服系统</a>
<script type="text/javascript" src="http://c.ibangkf.com/i/c-iwebproject.js"></script>