<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="
            height = [pixel_value | device-height] ,
            width = [pixel_value | device-width ] ,
            initial-scale = float_value ,
            minimum-scale = float_value ,
            maximum-scale = float_value ,
            user-scalable = [yes | no] ,
            target-densitydpi = [dpi_value | device-dpi | high-dpi | medium-dpi | low-dpi]
        "
    />
    <title></title>
    <link rel="stylesheet" href="../dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrapValidator.css"/>
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/style-pay.css"/>
    <link href="../css/navFooter.css" type="text/css" rel="stylesheet">
    <!--矢量图标引入-->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
</head>
<body ondblclick="ocultar_login_sign_up()">
<div class="payCss">
    <div class="container-fluid cart-bg">
        <img src="../images/tj-centerBg.jpg" alt=""/>
    </div>
    <%-include("navHeader.ejs")%>
    <section class="container-fluid">
        <div id="pay_hei">
            <div class="test">
                <span class="bot"></span>
                <span class="top"></span>
            </div>
        </div>
        <div class="row shopPro-message">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row shopPro-address">
                    <div class="shopPro-nav">
                        <span><a href="myCart.html">购物车</a></span> >
                        <span><a href="shoppingProcess.html">订单信息</a></span> >
                        <span>付款方式</span>
                    </div>
                    <div class="row payAttention">
                        <p class="col-lg-12 col-md-12 col-sm-12">
                            请您及时付款，以便订单尽快处理！ 订单号：<span class="trans-number">50779949487</span>
                        </p>
                        <p class="col-lg-12 col-md-12 col-sm-12">
                            请您在24小时内完成支付，否则订单会被自动取消（库存紧俏商品支付时限以订单详情页为准）。
                        </p>
                    </div>
                    <div class="row paypal">
                        <div>
                            <label for="paypal_id"></label>
                            <input type="radio" name="pay"   onclick="pay_Alipay()"  value=""  id="paypal_id"/>
                        </div>
                        <span>支付宝</span>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-zhifubao"></use>
                        </svg>
                    </div>
                    <div class="row pay-weChat">
                        <div>
                            <label for="pay_weChat_id"></label>
                            <input type="radio" name="pay" value=""  onclick=" pay_Wechat()"  id="pay_weChat_id"/>
                        </div>
                        <span>微信支付</span>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-weixin1"></use>
                        </svg>
                    </div>
                    <div class="row pay-union">
                        <div>
                            <label for="pay_union_id"></label>
                            <input type="radio" name="pay" value="" onclick="pay_Unionpay()"  id="pay_union_id"/>
                        </div>
                        <span>银联快捷支付</span>
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-yinlianzhifu"></use>
                        </svg>

                    </div>
                    <div id="pay_Unionpay">
                        <p>您还未开通银联快捷付款，请先前往银联页面开通，再进行支付!</p>
                        <a href="http://cn.unionpay.com/"><button>开通银联快捷支付</button></a>
                    </div>
                    <div class="row payMoney">
                        <span class="col-lg-6 col-md-6 col-sm-6">支付</span>
                        <span class="col-lg-3 col-md-3 col-sm-3">总计</span>
                        <span class="col-lg-3 col-md-3 col-sm-3"></span>
                    </div>
                    <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-lg-6 col-md-6 col-sm-6 cart-sub">
                        <p class="col-lg-5 col-md-5 col-sm-5" onClick="location.href='shoppingProcess'"><< 返回订单</p>
                        <div class="col-lg-6 col-md-6 col-sm-6 cart-pay">支付</div>
                    </div>
                    <div  class="checkM">
                        <div id="pay_Alipay"> <img    src="../images/tj_zhifubao.png" alt=""></div>
                        <div  id="pay_Wechat" > <img src="../images/tj_weixin.png"></div>
                    </div>

                </div>

                <div class="row shopPro-info">
                    <div class="row shopGoods">
                        <div class="shopGoodsInformation col-lg-12 col-md-12 col-sm-12">
                            <h3>订单信息</h3>
                            <div class="row">
                                <div class="shopGoodsImg">
                                    <span>商品</span>
                                </div>
                                <div class="shopGoodsDes">
                                    <span>商品名</span>
                                </div>
                                <div class="shopGoodsNum">
                                    <span>数量</span>
                                </div>
                                <div class="shopGoodsMoney">
                                    <span>金额</span>
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="shopGoodsImg">
                                    <img src="../images/cart-1.jpg" alt="" class="img-responsive"/>
                                </div>
                                <div class="shopGoodsDes">
                                    <p>小板凳</p>
                                </div>
                                <div class="shopGoodsNum">
                                    <p>1</p>
                                </div>
                                <div class="shopGoodsMoney">
                                    ￥<p>9999</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="shopGoodsImg">
                                    <img src="../images/cart-2.jpg" alt="" class="img-responsive"/>
                                </div>
                                <div class="shopGoodsDes">
                                    <p>小板凳</p>
                                </div>
                                <div class="shopGoodsNum">
                                    <p>1</p>
                                </div>
                                <div class="shopGoodsMoney">
                                    ￥<p>9999</p>
                                </div>
                            </div>-->
                            <div class="row">
                                <input type="text" placeholder="如果您有特别要求，请留言" class="shopProInput"/>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="row shopGoodsCountModule">
                                <!--<div class="payAddress col-lg-12 col-md-12 col-sm-12">-->
                                <p class="payAddress-info">收货地址：<span></span></p>
                                <p class="payName">收件人：<span></span></p>
                                <p class="payPhone">手机：<span></span></p>
                                <!--</div>-->
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="goodsSum">
                                <p>小计</p>
                                <p class="shopGoodsCount">￥<span></span></p>
                            </div>
                            <div class="goodsSum lastSum">
                                <p>运费</p>
                                <p class="shopGoodsTrans">￥<span>0</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%-include("footer.ejs")%>
</div>
<script src="../js/jquery-3.1.1.js"></script>
<script src="../js/jquery-1.11.3.js"></script>
<script src="../font/font_tj/iconfonttj.js"></script>
<script src="../dist/js/bootstrap.js"></script>
<script src="../js/navFooter.js"></script>
<script src="../js/pay.js"></script>
</body>
</html>