<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="
            height = [pixel_value | device-height] ,
            width = [pixel_value | device-width ] ,
            initial-scale = float_value ,
            minimum-scale = float_value ,
            maximum-scale = float_value ,
            user-scalable = [yes | no] ,
            target-densitydpi = [dpi_value | device-dpi | high-dpi | medium-dpi | low-dpi]
        "
    />

    <title></title>
    <link rel="stylesheet" href="../dist/css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrapValidator.css"/>
    <link rel="stylesheet" href="../css/base.css"/>
    <link rel="stylesheet" href="../css/style-shopPro.css"/>
    <link rel="stylesheet" href="../font/font_tj/iconfonttj.css"/>
    <link href="../css/navFooter.css" type="text/css" rel="stylesheet">
    <!--矢量图标引入-->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <!--IE兼容html5-->
    <!==[if It IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="../js/jquery-3.1.1.js"></script>
    <!--<script type="text/javascript" src="../js/jquery.cityselect.js"></script>-->
    <script type="text/javascript">
        $(function(){
            $("#citySelect").citySelect({
                nodata:"none",
                required:false
            });
        });
    </script>
</head>
<body ondblclick="ocultar_login_sign_up()">
<%-include("navHeader.ejs")%>
<div class="shopProCss">
    <div class="container-fluid cart-bg">
        <img src="../images/tj-centerBg.jpg" alt=""/>
    </div>
    <section class="container-fluid">
        <div class="row shopPro-message">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row shopPro-address">
                    <div class="shopPro-nav">
                        <span><a href="myCart.html">购物车</a></span> >
                        <span>订单信息</span> >
                        <span>付款方式</span>
                    </div>
                    <h3>收货地址</h3>
                    <form class="shopPro-add" id="shopPro-add">
                        <div class="shopProAddressDiv-add">
                            <label class="shopProAddress" for="shopProAddress_id">当前地址</label>
                            <select name="queryAddress" class="col-lg-12 col-md-12 col-sm-12 shopProAddress-select" id="shopProAddress_id">
                                <option value="0">输入新地址</option>
                            </select>
                        </div>
                        <div class="shopProNameDiv form-group">
                            <label class="shopProAddress" for="shopProName_id">姓名</label>
                            <input type="text"  class="col-lg-12 col-md-12 col-sm-12 shopProInput" id="shopProName_id" placeholder="请输入姓名" name="shopProName_name"/>
                        </div>
                        <div class="shopProDiv" id="citySelect">
                            <div class="shopProAddress-pre">
                                <label class="shopProAddress" for="province">省</label>
                                <select class="prov shopProInput" id="province"></select>
                            </div>
                            <div class="shopProAddress-pre">
                                <label class="shopProAddress" for="city">市</label>
                                <select class="city shopProInput" disabled="disabled" id="city"></select>
                            </div>
                            <div class="shopProAddress-pre">
                                <label class="shopProAddress" for="county">区</label>
                                <select class="dist shopProInput" disabled="disabled" id="county"></select>
                            </div>
                        </div>
                        <div class="shopProDiv">
                            <div class="shopProDiv-pre form-group">
                                <label class="shopProPhone" for="shopProPhone_id">联系电话</label>
                                <input type="text"  class="col-lg-12 col-md-12 col-sm-12 shopProInput" id="shopProPhone_id" name="shopProPhone_name" placeholder="请输入联系电话"/>
                            </div>
                            <div class="shopProDiv-pre">
                                <label class="shopProNum" for="shopProNum_id">邮编</label>
                                <input type="text"  class="col-lg-12 col-md-12 col-sm-12 shopProInput" id="shopProNum_id" name="shopProNum_name" placeholder="请输入邮编"/>
                            </div>
                        </div>
                        <div class="shopProInfoDiv form-group">
                            <label class="shopProAddress" for="shopProAddress_info_id">详细地址</label>
                            <input type="text"  class="col-lg-12 col-md-12 col-sm-12 shopProInput" id="shopProAddress_info_id" name="shopProAddress_info_name" placeholder="请输入详细地址"/>
                        </div>
                        <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-lg-6 col-md-6 col-sm-6 cart-sub">
                            <p class="col-lg-5 col-md-5 col-sm-5" onClick="location.href='myCart'"><< 返回购物车</p>
                            <div class="col-lg-6 col-md-6 col-sm-6 cart-pay">提交订单</div>
                        </div>
                    </form>
                </div>
                <div class="row shopPro-info">
                    <div class="row shopGoods">
                        <h3>订单信息</h3>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="shopGoodsImg">
                                <span>商品</span>
                            </div>
                            <div class="shopGoodsDes">
                                <span>商品名</span>
                            </div>
                            <div class="shopGoodsNum">
                                <span>数量</span>
                            </div>
                            <div class="shopGoodsMoney">
                                <span>金额</span>
                            </div>
                        </div>

                        <!--<div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="shopGoodsImg">
                                <img src="../images/cart-2.jpg" alt="" class="img-responsive"/>
                            </div>
                            <div class="shopGoodsDes">
                                <p>小板凳</p>
                            </div>
                            <div class="shopGoodsNum">
                                <p>1</p>
                            </div>
                            <div class="shopGoodsMoney">
                                ￥<p>9999</p>
                            </div>
                        </div>-->
                        <div class="col-lg-12 col-md-12 col-sm-12 shopPro-attention">
                            <input type="text" placeholder="如果您有特别要求，请留言" class="shopProInput"/>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="shopGoodsCountModule">
                                <div class="goodsCount col-lg-12 col-md-12 col-sm-12">
                                    <p>小计</p>
                                    <p class="shopGoodsCount">￥<span></span></p>
                                </div>
                                <div class="goodsCount col-lg-12 col-md-12 col-sm-12">
                                    <p>运费</p>
                                    <p class="shopGoodsTrans">￥<span>0</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="goodsSum col-lg-12 col-md-12 col-sm-12">
                                <p>总计</p>
                                <p class="shopGoodsSum">￥<span></span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid"></div>
</div>
<%-include("footer.ejs")%>
<!--<script src="../js/jquery-3.1.1.js"></script>-->
<!--<script src="../js/jquery-1.11.3.js"></script>-->
<script src="../dist/js/bootstrap.js"></script>
<script src="../dist/js/bootstrapValidator.js"></script>
<script src="../js/jquery.cityselect.js"></script>
<script src="../js/shoppingProcess.js"></script>
<script src="../js/egular.js"></script>
<script src="../js/navFooter.js"></script>
<script src=""></script>
</body>
</html>