p{
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}
/*#Zb-fixed{*/
    /*z-index: 99;*/
    /*text-align: center;*/
    /*position: fixed;*/
    /*left: 2%;*/
    /*top: 30%;*/
    /*width: 50px;*/
    /*height:300px;*/
    /*padding-right: 2px;*/
    /*background: url('../images/dot.gif') center repeat-y;*/
/*}*/
/*#Zb-fixed li{*/
    /*width: 50px;*/
    /*height:50px;*/
    /*!*outline: 1px solid green;*!*/
    /*background: url('../images/ccc-1.png') center no-repeat;*/
    /*!*background-size: 5px 5px;*!*/
/*}*/
/*#Zb-fixed li:hover{*/
    /*background: url('../images/aaa-1.png') center no-repeat;*/
}
#Zb_banner{
    /*background: url("../images/Zb-banner.jpg") no-repeat;*/
    width:100%;
    position: relative;
    /*background-size: cover;*/
    /*-webkit-background-size: cover;!* 兼容Webkit内核浏览器如Chrome和Safari *!*/
    /*-o-background-size: cover;!* 兼容Opera *!*/
}
#Zb_banner img{
    width:100%;
    height:auto;
}
#Zb_banner .Zb_bannerT{
    position: absolute;
    left: 50%;
    top:30%;
    transform: translate(-50%, -50%);
}
#Zb_banner .Zb_bannerT p:first-child,#Zb_banner .Zb_left p:first-child,#Zb_banner .Zb_right p:first-child{
    font-size: 3vw;
    margin-bottom: 3%;
}
#Zb_banner .Zb_bannerT p:last-child,#Zb_banner .Zb_left p:last-child,#Zb_banner .Zb_right p:last-child{
    font-size:1.6vw;
}
#Zb_banner .Zb_left,#Zb_banner .Zb_right{
    width: 44%;
    height:50%;
    padding: 20% 0;
}
#Zb_banner .Zb_left{
    background: url("../images/Zb-woodworker3.jpg") no-repeat;
    background-size: cover;
    position: absolute;
    left: 5%;
    top: 89%;
}
#Zb_banner .Zb_right{
    background: url("../images/Zb-woodworker4.jpg")  no-repeat;
    background-size: cover;
    position: absolute;
    right: 5%;
    top: 89%;
}
#Zb_banner .Zb_left p:first-child,#Zb_banner .Zb_right p:first-child{
    color: #FFCC66;
}
/*video*/
#Zb_video{
    margin-top:36%;
    background: url("../images/Zb-video-bg.jpg") no-repeat;
    width:100%;
    height: 20%;
    padding-top:2%;
}

#Zb_video .Zb_videoT p{
    font-size:1.6vw;
}
#Zb_video video{
    display: block;
    margin: 2% auto;
}

/*设计师*/
#Zb_designer{
    margin-top: 3%;
    width: 100%;
    height: auto;
}
#Zb_designer .Zb_designerT p{
    color: #0b0b0b;
    text-align: center;
    margin: 0 auto 1%;
}
#Zb_designer .Zb_designerT p:first-of-type,#Zb_designer .Zb_designerT p:nth-of-type(2){
    font-size: 20px;
    line-height: 20px;
}
#Zb_designer .Zb_designerT p:nth-of-type(3){
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}
#Zb_designer .Zb_designerP{
    background: url("../images/Zb-designer-bg.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    padding: 8% 8%;
}
#Zb_designer .Zb_designerP .Zb_designerSingle{
    width: 20%;
    height: 100%;
    margin-left:8%;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    background: rgba(255,255,255,.5);
    /*float: left;*/
}
#Zb_designer .Zb_designerP .Zb_designerSingle img{
    width:40%;
    height:40%;
    border-radius:50%;
    overflow:hidden;
    display: block;
    margin: 0 auto;
}
#Zb_designer .Zb_designerP .Zb_designerSingle p:first-of-type{
    color: #0b0b0b;
    font-size: 20px;
    line-height: 20px;
    margin-top: 5%;
}
#Zb_designer .Zb_designerP .Zb_designerSingle p:nth-of-type(2){
    border: 1px solid #FFCC66;;
    width:30%;
    margin: 0 auto;
    margin-top: 5%;
}
#Zb_designer .Zb_designerP .Zb_designerSingle p:nth-of-type(3){
    font-size: 16px;
    line-height: 16px;
    width:80%;
    margin: 0 auto 15%;
    margin-top: 5%;
    color: #666666;
}
#Zb_designer button{
    cursor: pointer;
    display: block;
    background: #FFCC66;
    width: 100px;
    height: 35px;
    margin: 3% auto;
}
/*团队*/
#Zb_team .Zb_teamT p{
    color: #0b0b0b;
    text-align: center;
    margin: 0 auto 1%;
}
#Zb_team .Zb_teamT p:first-of-type,#Zb_team .Zb_teamT p:nth-of-type(2){
    font-size: 20px;
    line-height: 20px;
}
#Zb_team .Zb_teamT p:nth-of-type(3){
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}
#Zb_team .Zb_teamT #Zb-ToKnowTeam{
    width: 120px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    margin: 0 auto;
    margin-bottom: 2%;
    cursor: pointer;
}

#Zb_team .Zb_teamT img{
    width: 100%;
    height:auto;
}
#Zb_team .Zb_teamSingle{
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 3%;
}
#Zb_team .Zb_teamSingle .Zb_teamTittle{
    color: #0b0b0b;
    font-size: 24px;
    line-height: 24px;
    padding:10px 0 5px;
    border-bottom: solid 2px #FFCC66;
}
#Zb_team .Zb_teamSingle .Zb_teamSingleTwo{
    width: 100%;
    height:auto;
    /*border: 1px solid red;*/
}
#Zb_team .Zb_teamSingle .Zb_teamSingleTwo .Zb_teamSingleOne{
    width: 46%;
    margin-left: 3%;
    padding-top: 2%;
    display: inline-block;
    vertical-align: top;
    /*border: 1px solid #6f50ff;*/
}
#Zb_team .Zb_teamSingle .Zb_teamSingleTwo .Zb_teamSingleOne img{
    display: inline-block;
    border-radius: 50%;
    vertical-align: top;
    width: 19%;
}
#Zb_team .Zb_teamSingle .Zb_teamSingleTwo .Zb_teamSingleOne .Zb_teamSingleOneT{
    width: 80%;
    padding-left: 5%;
    padding-top:3% ;
    display: inline-block;
    /*border: 1px solid #87ff9c;*/
    vertical-align: top;
}
#Zb_team .Zb_teamSingle .Zb_teamSingleTwo .Zb_teamSingleOne .Zb_teamSingleOneT h1{
    /*width: 50%;*/
    font-size: 1.6vw;
    line-height: 20px;
    color: #0b0b0b;
    margin-bottom: 1%;
}
#Zb_team .Zb_teamSingle .Zb_teamSingleTwo .Zb_teamSingleOne .Zb_teamSingleOneT h2{
    /*width: 50%;*/
    font-weight: normal;
    color: #0b0b0b;
    font-size: 1vw;
    line-height: 16px;
    margin-bottom: 1%;
}
#Zb_team .Zb_teamSingle .Zb_teamSingleTwo .Zb_teamSingleOne .Zb_teamSingleOneT p{
    line-height:16px;
    color: #0b0b0b;
    font-size: 1vw;
    text-align: left;
}
#Zb_closeTeam{
    margin: 10px 49% 0;
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
}
/*we believe*/
#Zb_believeFirst{
    clear: both;
    padding-top: 12%;
    padding-left: 15%;
    padding-bottom: 15%;
    background: url("../images/Zb-believe3.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height:auto;
}
#Zb_believeFirst P{
    margin-bottom: 1%;
    text-align: left;
    color: #ffffff;
    font-size:20px;
    line-height: 20px;
}
#Zb_believeFirst p:first-of-type{
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 3%;
}
#Zb_believeFirst p:nth-of-type(2){
     font-size: 34px;
     line-height: 34px;
 }
#Zb_believeFirst p:nth-of-type(3){
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 3%;
}
#Zb_believeFirst p:nth-of-type(5){
    margin-bottom: 3%;
}
#Zb_believeSecond{
    margin: 0 auto;
    padding-top: 12%;
    padding-left: 15%;
    padding-bottom: 15%;
    background: url("../images/Zb-believe01.jpg") no-repeat;
    background-size: cover;
    width: 90%;
    height:auto;
}
#Zb_believeSecond P{
    margin-bottom: 1%;
    text-align: left;
    color: #ffffff;
    font-size:20px;
    line-height: 20px;
}
#Zb_believeSecond p:first-of-type{
    font-size: 28px;
    line-height: 28px;
    margin-bottom: 3%;
}
#Zb_believeSecond p:nth-of-type(2){
    font-size: 34px;
    line-height: 34px;
}
#Zb_believeSecond p:nth-of-type(3){
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 3%;
}
#Zb_believeSecond p:nth-of-type(5){
    margin-bottom: 3%;
}
/*历史*/
#Zb_time{
    margin-top: 3%;
    width: 100%;
    height: auto;
    background-color: #F7F7F7;
}

#Zb_time .Zb_timeT p{
    color: #0b0b0b;
    text-align: center;
    margin: 0 auto 1%;
}
#Zb_time .Zb_timeT p:first-of-type,#Zb_time .Zb_timeT p:nth-of-type(2){
    font-size: 20px;
    line-height:20px;

}
#Zb_time .Zb_timeT p:nth-of-type(3){
    font-size: 16px;
    line-height: 16px;
    color: #999999;
}
#Zb_time .Zb_timePlay{
    width:100%;
    height: 500px;
    background: url("../images/Zb-history-bg1.jpg") no-repeat;
    background-size: cover;
}
#Zb_time button{
    cursor: pointer;
    display: block;
    background: #FFCC66;
    width: 100px;
    height: 35px;
    margin: 3% auto;
}
/*恶*/
#Zb_evil{
    margin-top: 5%;
}
#Zb_evil img{
    width: 100%;
    height:auto;
    position: relative;
}
#Zb_evil .Zb_evilT{
   position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%)
}
#Zb_evil .Zb_evilT p:first-of-type{
    font-size: 36px;
    line-height: 36px;
    margin-top: 10%;
    margin-bottom: 3%;
}
#Zb_evil .Zb_evilT p:nth-of-type(2){
     font-size: 24px;
     line-height: 24px;
     margin-bottom: 20%;
 }
#Zb_evil .Zb_evilT #Zb-ToKnowEvil{
    font-size: 20px;
    line-height:24px;
    text-align: center;
    width: 550px;
    margin: 0 auto;
    color: #ffffff;
    cursor: pointer;
}
#Zb-ToKnowEvilDiv{
    color: #ffffff;
}

#Zb_evil2 .Zb_evilWe{
    width: 90%;
    height: auto;
    margin: 2% auto;
    text-align:center;
    padding: 0 1%;
}
#Zb_evil2 .Zb_evilWe .Zb_evilWef{
    margin:0 1% 0 ;
    display: inline-block;
    width: 31%;
    vertical-align:top;
}
#Zb_evil2 .Zb_evilWe .Zb_evilWef img{
    width: 100%;
    height: auto;
}
#Zb_evil2 .Zb_evilWe .Zb_evilWef p{
    text-align: left;
    padding: 0 4% 0 2% ;
    margin-top:5%;
    color: #000000;
    font-size: 1.1vw;
    /*line-height: 16px;*/
}
#Zb_closeEvil{
    margin: 10px 49% 0;
    font-size: 30px;
    line-height: 30px;
    cursor: pointer;
}