@font-face {
    font-family: "zt";!important;
    src:url("../font/iconfont.ttf");
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: 0;
    margin-left: 0;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0;
    padding-left: 0;
}


body{
    font-family: 微软雅黑;
}
.container{
    width: 100%;
    margin: 0;
    padding: 0;
}
.index_nav{
    height: 80px;
    background-color: teal;
    margin: 0;
    padding: 0;
}

.diy_nav{
    background-color: #EFEFEF;
    height: 80px;
}
.diy_navheader{
    margin-top: 80px;
    height: auto;
}
.diy_navtitle{
    height: auto;
}
.diy_main{
    height: 688px;
    background-color: #f7f7f7;
}
.diy_footer{
    height: 263px;
    background-color: #0f0f0f;
}
.diy_left{
    height: auto;
    margin:9.4%  2.5% 3.4% 6.4% ;
}
.diy_middle{
    width: 40.7%;
    height: 49%;
    left: 27%;
    top: 46%;
    background-size: cover;
}
.diy_tttr{
    margin-left: 5%;
    width: 30%;
    text-align: center;
}


.diy_tttr2{
    width:42%;
    text-align: center;
}
.diy_tttr3{
    width: 70%;
    text-align: left;
}
thead{
    border-color:white;
}
tr{
    border-color: white;
}
.diy_qindan_notai{
    z-index: 9999;
}
.show-4{
    width: 80%;
    margin: 0 auto;
}
.diy_middle img{
    border: none;
    width: 100%;
    height: 100%;
}
.diy_right{
    height: auto;
    margin: 13% 0 7% 5%;
}
.diy_two1,.diy_navtitle{
    margin-left: 6%;
}
.diy_two2_button,.diy_two3_button{
    margin-top:12%;
    float: left;
    width: 1.5vw;
    height: 3vh;
    border-radius: 50%;
}

.diy_two2_button{
    background-color: #ffcc66;
}
.diy_two3_button{
    background-color: #cccccc;
}
.diy_two2_button p,.diy_two3_button p{
    text-align: center;
}
.diy_font1{
    float: left;
    font-size: 1vw;
    text-align: left;
    margin: 14% 3%;
}
.diy_navtitle p，.diy_navtitle1 p{
    float: left;
    text-align: left;
    color: #9b9b9b;
}
.diy_navtitle p{
    margin: .7% 0;
    font-size: 0.5vw;
}
.diy_navtitle1{
    margin: 7% 0;
    font-size: 0.2vw;
}
.diy_navtitle p a,.diy_navtitle1 p a{
    color: #ffcc66;
    text-decoration: inherit;
}

/*



/*-----------------select----------------------*/
#canvasFather{
    position: absolute;
    background-size: cover;

}
.remove{
    position: absolute;
    top:0;
    right: 0;
}
.cover{
    position: absolute;
    z-index: 3;
    border: none;
    font-family: "zt";
}
.cover i{
font-family: "zt";
}
.cover img {
    width: 100px;
    height: 100px;

}
#imgPreview{
    border: none;
}


#pay_hei{
    position:fixed;
    padding-left:40%;
    z-index: 11000;
    background: rgba(0,0,0,.2);
    width: 100%;
    height: 100%;
    display: none;
}
.test{margin-top: 20px;
    width:300px; padding:30px 20px; border:5px solid #fc6; position:relative;
    background: #ffffff;
    display: none;
    text-align: center;
}
.test span{
    width:0; height:0; font-size:0; overflow:hidden; position:absolute;
}
.test span.bot{
    border-width:20px;
    border-style:solid dashed dashed;
    border-color:#fc6 transparent transparent;
    left:120px;
    top: -40px;
    -webkit-transform: rotate(180deg);
}
.test span.top{
    border-width:20px;
    border-style:solid dashed dashed;
    border-color:#ffffff transparent transparent;
    left:120px;
    top:-33px;
    -webkit-transform: rotate(180deg);
}
.test p{
    font-size: 17px;
    color: #6e7070;
}