
.tabs1 {
    position: relative;
    background: white;
    width: 100%;
}
.tabs1 input[name="tab-control1"] {
    display: none;
}
.tabs1 .content1 section h2, .tabs1 .ul1 li label {
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 14px;
    color: #ffcc66;
}
.tabs1 .ul1 {
    list-style-type: none;
    padding-left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    margin-bottom: 10px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: end;
    align-items: flex-end;
    flex-wrap: wrap;
}
.tabs1 .ul1 li {
    box-sizing: border-box;
    -webkit-box-flex: 1;
    flex: 1;
    width: 25%;
    margin: 20px 0 0 0;
    text-align: center;
}
.tabs1 .ul1 li label {
    transition: all 0.3s ease-in-out;
    color: #323232;
    padding: 5px auto;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    cursor: pointer;
    white-space: nowrap;
    user-select: none;
}
.tabs1 .ul1 li label br {
    display: none;
}
.tabs1 .ul1 li label:hover, .tabs1 .ul1 li label:focus, .tabs1 .ul1 li label:active {
    outline: 0;
    color: #bec5cf;
}
.tabs1 .slider {
    position: relative;
    width: 50%;
    transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
}
.tabs1 .slider .indicator {
    position: relative;
    width: 50px;
    max-width: 100%;
    margin: 5px auto;
    height: 4px;
    background: #ffcc66;
    border-radius: 1px;
}
.tabs1 .content1 {
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
}
.tabs1 .content1 section {
    display: none;
    -webkit-animation-name:content;
    animation-name: content;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    line-height: 1.4;
}

.tabs_split_mleft,.tabs_split_mright{
    float: left;
    width: 45%;
    height: 10vh;
    background: white;
    border:none ;
}
.tabs_split_mleft p,.tabs_split_mright p{
    margin-top: 5vh;
    text-align: center;
    color: #0f0f0f;
}

.tabs_split_mleft_button{
    border: none;
    margin-top: 10%;
    height: 10vh;
}
.tabs_split_mleft_button option{
    border: none;
}

#searchGong,#searchFeng,#furnitureFeng,#furnitureGong{
    clear: both;
    min-width: 7.5vw;
    height: 70%;
    text-align: center;
}

.tabs_split_mleft_select{
    margin: 0 auto;
    border: none;
    text-align: center;
}
#dropdownMenu4,#dropdownMenu3,#dropdownMenu2,#dropdownMenu1{
    background-color: white;
}
.tabs_split_content1{
    margin-top: 10vh;
    width: 100%;
    height: auto;
    background-color: white;
}
.tabs_split_content1{
    width: 100%;
    height: auto;
    background-color: white;
}
.tabs_split_mright{
    margin-left: 10%;
}
.tabs1 input[name="tab-control1"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
    cursor: default;
    color: #ffcc66;
}
@media (max-width: 600px) {
    .tabs1 input[name="tab-control1"]:nth-of-type(1):checked ~ ul > li:nth-child(1) > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.tabs1 input[name="tab-control1"]:nth-of-type(1):checked ~ .slider {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
}
.tabs1 input[name="tab-control1"]:nth-of-type(1):checked ~ .content1 > section:nth-child(1) {
    display: block;
}
.tabs1 input[name="tab-control1"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
    cursor: default;
    color: #ffcc66;
}
@media (max-width: 600px) {
    .tabs1 input[name="tab-control1"]:nth-of-type(2):checked ~ ul > li:nth-child(2) > label {
        background: rgba(0, 0, 0, 0.08);
    }
}
.tabs1 input[name="tab-control1"]:nth-of-type(2):checked ~ .slider {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}
.tabs1 input[name="tab-control1"]:nth-of-type(2):checked ~ .content1 > section:nth-child(2) {
    display: block;
}

@-webkit-keyframes content1 {
    from {
        opacity: 0;
        -webkit-transform: translateY(5%);
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@keyframes content1 {
    from {
        opacity: 0;
        -webkit-transform: translateY(5%);
        transform: translateY(5%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@media (max-width: 1000px) {
    .tabs1 .ul1 li label {
        white-space: initial;
    }
    .tabs1 .ul1 li label br {
        display: initial;
    }
    .tabs1 .ul1 li label svg {
        height: 1.5em;
    }
}
@media (max-width: 600px) {
    .tabs1 .u1l li label {
        padding: 5px;
        border-radius: 5px;
    }
    .tabs1 .ul1 li label span {
        display: block;
    }
    .tabs1 .slider {
        display: block;
    }
    .tabs1 .content1 {
        margin-top: 20px;
    }
    .tabs1.content1 section h2 {
        display: block;
    }
}
.tabs_split_content_img{
    float: left;
    margin: 5% 4% 0 4%;
    cursor: pointer;
    opacity: 0.8;
}
.tabs_split_content_img1{
    float: left;
    margin: 5% 4% 0 4%;
    cursor: pointer;
    opacity: 0.8;
    height: 5vh;
}
.color1{
    background-color: #dddddd;
}
.color2{
    background-color: #666666;
}
@font-face {
    font-family: "zt";!important;
    src: url("../font/iconfont.ttf");
}
.color3{
    background-color: #EC0000;
}
.color4{
    background-color: #006B9F;
}
.tabs_split_content_img img{
    margin: 0 auto;
}
.tabs_split_content_img:hover{
    opacity: 1;
}
.split-page{
    margin:10% 20% 0 30%
}
.split-page1{
    margin:40% auto;
}
.split-page1_button{
    margin: 0 28%;
    background-color: #ffcc66;
    color: white;
}
.split-page ul{
    list-style: none;
}
.split-page li{
    margin: 5%;
    float: left;
}
.split-page a{
    text-decoration: none;
    color: black;
}
.split-page :hover a{
    color: #ffcc66;
}
.diy_right_nav{
    margin-top: 30%;
}
.tabs1 .content1 section h2 {
    display: block;
}
