.GIbanner {
    width: 1140px;
    height: 659px;
    background: url(../images/global.jpg) no-repeat 135px 143px;
    background-size: 830px 403px;
    margin: 30px auto;
    position: relative;
    overflow: hidden;

}
.GIbanner .top {
    text-align: center;
    position: relative;
    height: 32px;
    width: 100%;
    margin: 60px auto 0;
    font-size: 32px;
}
.Zb_span{
    /*display: inline-block;*/
    border-bottom: 2px solid #FFCC66;
    width: 300px;
    height: 1px;
    margin: 0 auto;
}
.GIbanner > div {
    width: 11px;
    height: 11px;
    border-radius: 50%;
}
.GIbanner div .detail {
    left: -195px;
    top: -200px;
    display: none;
    width: 467px;
    height: 163px;
    z-index: 10;
    padding-top: 15px;
    padding-left: 15px;
    position: absolute;
    background: url(../images/border.png) no-repeat left top;
    background-size: cover;
    opacity: 0;
}
.GIbanner div dt {
    float: left;
    width: 140px;
    height: 120px;
    border-radius: 6px;
    position: relative;
}
.GIbanner div dd {
    float:right;
    width: 310px;
    margin-top: 10px;
    margin-left: 2px;
}
.GIbanner ul {
    width: 644px;
    position: absolute;
    bottom: 39px;
    left: 50%;
    margin-left: -322px;
    font-size: 12px;
    color: #222222;
}
.GIbanner ul li {
    width: 80px;
    float: left;
    height: 22px;
    line-height: 22px;
    cursor: pointer;
}
.GIbanner ul li div {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    display: inline-block;
}
.GIbanner div dt img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 3px;
}
.GIbanner div dt div {
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(235,156,57,0.9);
    color: #FFFFFF;
    line-height: 35px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.GIbanner div dt a {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    display: block;
}
.GIbanner div dd h2 {
    font-size: 19px;
    color: #000000;
    font-weight: 600;
}
.GIbanner div dd p:nth-child(2) {
    margin-top: 25px;
    background: url(../images/cooperative.png) no-repeat left center;
    background-size: 14px 14px;
}
.GIbanner div dd p:nth-child(3) {
    margin-top: 9px;
    background: url(../images/tel.png) no-repeat 2px center;
    background-size: 11px 14px;
}
.GIbanner div dd p:nth-child(4) {
    margin-top: 9px;
    background: url(../images/location.png) no-repeat 2px center;
    background-size: 11px 16px;
    height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.GIbanner div dd p {
    font-size: 12px;
    color: #666666;
    padding-left: 25px;
    line-height: 14px;
}

/*样式*/
.GIbanner ul li .list1 {
    background: #cb1c00;
}
.GIbanner ul li .list2 {
    background: #0067ca;
}
.GIbanner ul li .list3 {
    background: #ea6b1e;
}
.GIbanner ul li .list4 {
    background: #00cccb;
}
.GIbanner ul li .list5 {
    background: #c62380;
}
.GIbanner ul li .list6 {
    background: #991a67;
}
.GIbanner ul li .list7 {
    background: #adcb13;
}
.GIbanner ul li .list8 {
    background: #ff3602;
}
/*城市*/
.GIbanner .bj {
    position: absolute;
    background: #cb1c00;
    left: 783px;
    top: 293px;
}
.GIbanner .shanghai {
    position: absolute;
    background: #0067ca;
    left: 796px;
    top: 321px;
}
.GIbanner .shenzhen {
    position: absolute;
    background: #ea6b1e;
    left: 784px;
    top: 343px;
}
.GIbanner .chengdu {
    position: absolute;
    background: #00cccb;
    left: 755px;
    top: 330px;
}
.GIbanner .Seoul {
    position: absolute;
    background: #c62380;
    left: 814px;
    top: 309px;
}
.GIbanner .siliconValley {
    position: absolute;
    background: #991a67;
    left: 247px;
    top: 304px;
}
.GIbanner .bolin {
    position: absolute;
    background: #adcb13;
    left: 556px;
    top: 269px;
}
.GIbanner .TelAviv {
    position: absolute;
    background: #ff3602;
    left: 605px;
    top: 322px;
}
/*hover*/
/*.GIbanner .bj:hover .daDetail,.GIbanner .bj:hover .daDetail .dl{*/
    /*display: block;*/
/*}*/
/*工艺技术*/
.technology{
    width: 1140px;
    margin: 0 auto;
}
.technology p:first-child{
    font-size: 32px;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}
.technology h1 {
    font-size: 26px;
    line-height: 36px;
    color: #333;
    text-align: center;
}
.technology_con dl {
    width: 25%;
    margin-top: 40px;
    text-align: center;
    float: left;
    font-size: 14px;
    line-height: 20px;
}
.technology img {
    border: none;
    vertical-align: bottom;
    width: 100%;
}
.technology_con dd {
    margin-top: 10px;
}
.technology_con dd strong {
    width: 60px;
    height: 70px;
    vertical-align: top;
    display: inline-block;
    margin-right: 10px;
    color: #333;
}
.technology_con dd strong i {
    border-radius: 100%;
    background: #333;
    width: 6px;
    height: 6px;
    display: inline-block;
    margin-right: 5px;
    vertical-align: 2px;
}
.technology_con pre {
    display: inline-block;
    text-align: left;
    color: #666;
}
/*大图*/
.Zb_declaration{
    width: 100%;
    height: 270px;
    background: url("../images/global_pic.jpg") no-repeat fixed;
    background-size: cover;
    padding-top: 90px;
}
.Zb_declaration p{
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    margin: 0 auto;
    margin-bottom: 35px;
}
.Zb_declaration p:nth-of-type(1){
    width: 160px;

}
.Zb_declaration p:nth-of-type(2){
    width: 300px;
}
.Zb_declaration p:nth-of-type(3){
    width: 460px;
}

