*{
    font-family: 微软雅黑;
}
html,body{
    height: 100%;
}
@font-face {
    font-family:"iconfont"; !important;
    src:url("../font/iconfontzhl.ttf");
}

/*------------------气泡提示框---------------*/
#pay_hei{
    position:fixed;
    padding-left:40%;
    z-index: 9999;
    background: rgba(0,0,0,.2);
    width: 100%;
    height: 100%;
    display: none;
}
.test{margin-top: 20px;
    width:300px; padding:30px 20px; border:5px solid #fc6; position:relative;
    background: #ffffff;
    display: none;
    text-align: center;
}
.test span{
    width:0; height:0; font-size:0; overflow:hidden; position:absolute;
}
.test span.bot{
    border-width:20px;
    border-style:solid dashed dashed;
    border-color:#fc6 transparent transparent;
    left:120px;
    top: -40px;
    -webkit-transform: rotate(180deg);
}
.test span.top{
    border-width:20px;
    border-style:solid dashed dashed;
    border-color:#ffffff transparent transparent;
    left:120px;
    top:-33px;
    -webkit-transform: rotate(180deg);
}
.test p{
    font-size: 17px;
    color: #6e7070;
}
/*------------------气泡提示框---------------*/
strong{
    font-family: "iconfont"; !important
}
.per_header{
    height: 80px;
    width: 100%;
}
.per_main{
    width: 100%;
    min-height: 100%;

    background: url("../images/personal/per_bg.png") no-repeat fixed;
    background-size: 100% 100%;
}

/*所有的正文内容  包在87%之间*/
.per_content{
    width: 87%;
    margin-left: 6.5%;
}

/*正文中的坐标导航*/
.per_nav{
    width: 17%;
    float: left;
    height: 300px;
/*    background-color: #2a6496;*/
    margin-left:2%;
    margin-top: 60px;
}
.per_nav_header{
    background-color: rgba(255,255,255,.8);
    height: 44px;
    text-align: center;
}
.per_nav_header div{
    text-align: center;
    overflow: hidden;
}
.per_nav_header>div>a{
    font-size: 14px;
    line-height:44px;
    color: #333333;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
}
.per_nav_header>div>span{
    font-size: 18px;
    line-height:44px;
    color: #ffcc66;
    margin-left: 10px;
    font-weight: 800;
}
.per_nav_con strong{
    margin-left:10%;
}
.per_nav_con ul{
    margin-top: 15px;
    background-color: rgba(255,255,255,.8);
    overflow: hidden;
}
.per_nav_con ul li:first-of-type{
    margin-top: 20px;
    /*background-color: rgba(255, 204, 102, .4);*/
}
.per_nav_con ul li:last-of-type{
    margin-bottom: 20px;
}
.per_nav_con ul li{
    text-align: center;
    height: 33px;
    margin-top: 20px;
}
.per_nav_con ul li:hover a{
    text-decoration: none;
    cursor: pointer;
    color: #ffcc66;
}
.per_nav_con ul li a{
    line-height: 33px;
    font-size: 13px;
}


/*个人信息*/
.per_information {
    width: 75%;
    float: left;
/*    height: 678px;*/
    margin-left: 2%;
    margin-top: 60px;
/*    outline: 1px solid rebeccapurple;*/
    display: block;
}
/*个人信息头像部分*/
.per_inf_head{
    height: 90px;
}
.per_avatar{
    width: 90px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
 }
.per_avatar img{
    display: inline-block;
    width: 90px;
    height: 90px;
}
.per_information .change_head{
    width: 120px;
    height: 35px;
    text-align: center;
    margin-top: 23px;
    background-color: #ffcc66;
    color: white;
    font-weight: 600;
    border: 1px solid #ffcc66;
}
.per_information .per_inf_head .change_head:hover,
.per_information .per_inf_head .change_head:focus{
    background-color: #ffffff;
    color: #ffcc66;
}
/*个人信息表单部分*/
.per_inf_con{
    margin-top: 20px;
}
.form-group{
    margin-top: 10px;
    text-align: center;
    height: 30px;
}
.form-group input{
    padding-left: 5px;
    border: none;
    line-height: 30px;
    background-color:rgba(255,255,255,0);
    border-bottom: 1px solid rgba(0,0,0,.4);
}
/*？？？？？？？？？？？？*/
input[type=radio]{
    background-color: #ffcc66;
    color: #ffcc66;
}
.per_inf_con .per_form_pwd{
    position: relative;
}
.per_inf_con .per_form_pwd span{
    position: absolute;
    top: 2px;
    right: 10px;
    color: #ffcc66;
    font-weight: 600;
    border-bottom: 1px solid #ffcc66;
    cursor: pointer;
}
.per_inf_con .per_form_pwd input{
    border: none;
}
.per_inf_con label{
    font-size: 14px;
    color: #666666;
    font-weight: 600;
}
.per_inf_sub{
    margin-top: 10px;
    float: right;
    background-color: #333333;
    color: #ffffff;
    border:1px solid #333333;
    width: 120px;
    height: 35px;
    font-weight: 600;
}
.per_inf_sub:hover,
.per_inf_sub:focus{
    background-color: #ffffff;
    color: #333333;
}





/*个人设计*/
.per_design{
    width: 75%;
    float: left;
    margin-left: 2%;
    margin-top: 60px;
    /*    outline: 1px solid rebeccapurple;*/
    display: none;
}
.per_design>header{
    background-color: rgba(255,255,255,.7);
    height: 40px;
}
.per_design_specific header{
    position: relative;
}
.per_design_specific header strong{
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 20px;
    color: #ffcc66;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    cursor: pointer;
}
.per_design_specific>header p{
    text-align: center;
    font-size: 16px;
    color: #ffcc66;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 10px;
}
.per_design_specific ul{
    border-top: 1px solid rgba(51, 51, 51, 0.15);
}
.per_design_specific ul li {
    line-height: 80px;
    margin-top: 10px;
}
.per_design ul li img{
    width: 80%;
    margin-left: 5%;
    height: 100px;
}
.per_design header ul li p{
    color: rgba(51, 51, 51, 0.74);
}
.per_design header ul li:first-of-type p{
    color: #ffcc66;
    display: inline-block;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    border-bottom: 2px solid #ffcc66;
}
.per_design header ul li:last-of-type p{
    height: 40px;
    font-size: 14px;
    line-height: 40px;
}
.per_design_con{
    width: 100%;
}
.per_design_specific{
    padding-bottom: 30px;
    width: 100%;
    margin-top: 20px;
    background-color: rgba(227, 227, 227, 0.38);
    text-align: center;
    position: relative;
}

.per_design_specific .per_design_shop{
    position: absolute;
    right: 0;
    bottom: 10px;
    background-color: #333333;
    color: white;
    border:1px solid #333333;
}
.per_design_specific .per_design_shop:hover{
    background-color: white;
    color: #333333;
}
.per_design_specific .per_design_shop:focus{
    background-color: white;
    color: #333333;
}
.per_design_specific footer span{
    display: inline-block;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    color: #333;
}
.per_design_specific footer{
    height: inherit;
    background-color: inherit;
}
.per_design_specific footer span:last-of-type{
    text-align: left;
    color: rgba(51, 51, 51, 0.66);
}
.per_design_specific ul li:first-of-type img{
    width: 40%;
}






.per_order_body tr:last-of-type p,
.per_order_body tr:last-of-type span{
    height: 30px; line-height: 30px;
}
.per_no_pay_order{
    position: relative;
}
.per_no_pay_order button{
    position: absolute;
    right: 0;
    top: 10%;
}
.per_order_body tr:last-of-type span{
    color: #868686;
}
.per_order_body tr:last-of-type td:first-of-type div{
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
    border-right:1px solid rgba(0, 0, 0, 0.1) ;
}
.per_order_body tr:last-of-type td:first-of-type div:last-of-type{
    border-bottom: none;
}
.per_order_body tr:last-of-type td:nth-of-type(2),
.per_order_body tr:last-of-type td:nth-of-type(3){
    border-right:1px solid rgba(0, 0, 0, 0.1) ;
}
.per_order_body tr:nth-of-type(3) img{
    height: 120px;
    width: 50%;
}




/*个人订单*/
.per_order {
    width: 75%;
    float: left;
    margin-left: 2%;
    margin-top: 60px;
/*    outline: 1px solid rebeccapurple;*/
    display: none;
}
/*订单的大体分类*/
.per_order_state{
    background-color: rgba(255,255,255,.7);
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-align: center;
}
.per_order_state input{
    width: 50%;
    border:none;
    border-bottom: 1px solid rgba(169,169,169,1);
    background-color:rgba(0,0,0,.0);
}
.per_order_state input:focus{
    width: 80%;
    border: none;
    -webkit-transition: all linear .2s;
}
.per_order_state ul li:hover{
    cursor: pointer;
}
.per_order_state li:first-of-type{
    color: #ffcc66;
    border-bottom: 2px solid #ffcc66;
}
/*未完成订单的付款*/
/*.no_finish_order td{*/
    /*position: relative;*/
/*}*/
/*.no_finish_order td button{*/
    /*position: absolute;*/
    /*top: 0;*/
/*}*/
/*订单的详情*/
.per_order_con{
    font-size: 14px;
    width: 100%;
    color: #333333;
    background-color: rgba(255,255,255,.4);
}
.per_order_con thead tr{
    font-weight: 600;
}
.per_order_con thead tr th{
    text-align: center;
}
.per_order_time{
    margin-left: 3%;
    height: 40px;
    float: left;
}
.per_order_time div:first-of-type span{
    color: #ffcc66;
}
.per_order_time button{
    line-height: 40px;
    border: none;
    background-color: rgba(0,0,0,0);
    width: 110px;
}
.per_order_time ul{
    background-color: rgba(255,255,255,1);
    display: none;
    height: 200px;
    width: 110px;
}
.per_order_time ul li{
    width: 110px;
    text-align: center;
    font-size: 13px;
}
.per_order_time ul li:hover{
    cursor: pointer;
}
.dropdown-menu{
    min-width: 110px;
}
.per_order_time ul li{
    height: 40px;
    line-height: 40px;
}
.per_order_inf_p{
    float: right;
    margin-right: 40%;
    height: 40px;
    line-height: 40px;
}
/*表单的具体内容*/
.per_order_body{
    text-align: center;
}
.per_delet_icon{
    opacity: 0;
    float: right;
    margin-right: 10%;
}
.per_order_body:hover .per_delet_icon{
    opacity: 1;
    color: #ffcc66;
    font-size: 16px;
}
.per_delet_icon:hover{
    cursor: pointer;
}
.per_order_body strong{
    margin-left: 10px;
}
.per_con_icon{
    color: #Ffcc66;
    font-size: 16px;
    margin-left: 20%;
}
.per_order_body tr:first-of-type td:first-of-type p{
    display: inline-block;
}
.per_order_body{
    border-left: 1px solid rgba(0,0,0,.2);
    border-right: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.per_order_con .per_order_body:first-of-type{
    border: 1px solid rgba(0,0,0,.2);
}
.per_order_body tr:first-of-type{
    background-color: rgba(0, 0, 0, 0.04);
}
.per_order_body tr td span{
    margin-left: 2%;
}
.per_order_body tr:first-of-type td p{
    margin-left: 10%;
}
.per_order_body tr:first-of-type td,
.per_order_body tr:first-of-type td p{
    height: 30px;
    line-height: 28px;
    color: rgba(0,0,0,.4);
}
.per_order_body tr:nth-of-type(2) td:nth-of-type(2){
    position: relative;
}
.per_show_info{
    position: absolute;
    width: 120%;
    height: 90%;
    background-color: white;
    left: -100%;
    top:5%;
    box-shadow: 0 0 10px #626262;
}
.per_triangle{
    width: 0;
    height: 0;
    position: absolute;
    border-top: 8px solid transparent;
    border-left: 16px solid white;
    border-bottom: 8px solid transparent;
    left: 18%;
    top: 40%;
}
.per_show_info p{
    text-align: left;
    width: 100%;
    font-size: 12px;
    color: #797979;
    height: 20px;
}
.per_show_info p:first-of-type{
    border-bottom: 1px solid rgba(51, 51, 51, 0.26);
    font-size: 14px;
    height: 25px;
    line-height: 25px;
    color: #333;
    text-align: center;
}
.per_order_info{
    display: none;
}
.per_order_body tr:first-of-type td:last-of-type p{
    margin-right: 8%;
    float: right;
}
/*设置第一个td的高度去撑开整个高度*/
.per_order_body tr:nth-of-type(2) td:first-of-type{
    height: 80px;
}
.per_order_body tr:nth-of-type(2) ul li{
    float: left;
}
.per_order_body tr:nth-of-type(2) ul li:first-of-type{
    width: 40%;
}
.per_order_body tr:nth-of-type(2) ul li:nth-of-type(2){
     width: 40%;
}
.per_order_body tr:nth-of-type(2) ul li:nth-of-type(3){
      width: 20%;
}
.per_order_body tr:nth-of-type(2) ul li p{
    color: #797979;
    line-height: 40px;
}
.per_order_body tr:nth-of-type(2) td{
    border-right: 1px solid rgba(0,0,0,.1);
}
/*如果不设置。大的右边边框会显示     ？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？？*/
.per_order_body tr:nth-of-type(2) td:last-of-type{
    border-right: none;
}
.per_order_body tr:nth-of-type(2) span{
    line-height: 40px;
}
.per_order_body tr:nth-of-type(2) ul li:last-of-type p{
    line-height: 80px;
}
.per_page nav ul{
    float: right;
}
.per_page nav ul li a:hover{
    background-color: #ffcc66;
}
.per_order_body tr:nth-of-type(2) td:first-child div:not(:first-of-type){
    border-top: 1px solid rgba(0,0,0,.2);
}
.per_order_body tr:nth-of-type(3) td:last-of-type p:hover{
    cursor: pointer;
}
.per_order_body tr:nth-of-type(3) td:first-of-type p,
.per_order_body tr:nth-of-type(3) td:first-of-type span{
    height: 58px;
    line-height: 58px;
}






/*个人收藏*/
.per_collect {
    width: 75%;
    float: left;
    margin-left: 2%;
    margin-top: 60px;
/*    outline: 1px solid rebeccapurple;*/
    font-size: 14px;
     display: none;
}
.per_collect header{
    background-color: rgba(255,255,255,.7);
    height: 40px;
}
.per_collect header ul li{
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
/*.per_collect header ul li:last-of-type{
    text-align: center;
}
.per_collect header ul li input{
    width: 50%;
    border: none;
    border-bottom: 1px solid rgba(169,169,169,1);
}
.per_collect header ul li input:focus{
    width: 80%;
    -webkit-transition: all linear .2s;
}*/
.per_collect header ul li:first-of-type p{
    color: #ffcc66;
    display: inline-block;
    height: 40px;
    border-bottom: 2px solid #ffcc66;
}
.per_collect header ul li:last-of-type p{
    height: 40px;
    border-bottom: none;
    width: 60%;
}
.per_collect_con{
    height: 300px;
}
.per_collect_show{
    margin-top: 20px;
    background-color: white;
    width: 90%;
    margin-left: 5%;
    height: 300px;
    position: relative;
}

.per_order_time ul li{
    z-index: 999;
}

.per_collect_show strong{
    position: absolute;
    right: 10%;
    top: 5%;
    font-size: 18px;
    cursor:pointer;
    color: #ffcc66;
    display: none;
    z-index: 2;
}
.per_collect_show:hover strong{
    display: block;
}
.per_collect_show div{
    text-align: center;
}
.per_collect_show div button{
    font-size: 12px;
    margin-top: 20px;
    background-color: #ffcc66;
    color: white;
    font-weight: 600;
    border: 1px solid #ffcc66;
}
.per_collect_show div button:hover{
    margin-top: 20px;
    background-color: white;
    color: #ffcc66;
    font-weight: 600;
    border: 1px solid #ffcc66;
}
.per_collect_show div button:focus{
    margin-top: 20px;
    background-color: white;
    color: #ffcc66;
    font-weight: 600;
    border: 1px solid #ffcc66;
}
.per_collect_show div p{
    color: white;
}
.per_collect_con img{
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    height: 220px;
}
.per_collect_con figcaption{
    opacity: 0;
    position: absolute;
    border: none;
    left: 5%;
    top: 4%;
    width: 90%;
    height: 220px;
}
.per_collect_con figcaption p{
    text-align: center;
    color: white;
    margin-top: 2%;
    border: none;
}
.per_collect_con figcaption p:first-of-type{
    margin-top: 10%;
    font-size: 16px;
}
.per_collect_con figcaption p:first-of-type::after {
    position: absolute;
    top: 28%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.5s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
}
.per_collect_con figcaption p:nth-of-type(2){
    margin-top: 70%;
}
.per_collect_show:hover figcaption p:first-of-type::after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.per_collect_show:hover figcaption{
    opacity: 1;
    background-color: rgba(0,0,0,.5);
    -webkit-transition: all linear .5s;
}
.per_collect_show:hover figcaption p:nth-of-type(2){
    margin-top: 35%;
    -webkit-transition: all linear .5s;
}
.perCollectCircle{
    position: absolute;
    width: 60%;
    height: 30%;
    border: 3px solid white;
    top: 42%;
    right: 20%;
}





/*个人地址*/
.per_address {
    width: 75%;
    float: left;
    margin-left: 2%;
    margin-top: 60px;
/*    height: 700px;*/
    /*outline: 1px solid rebeccapurple;*/
    font-size: 14px;
    display: none;
}
.per_address header{
    background-color: rgba(255,255,255,.7);
    height: 40px;
}
.per_address header button{
    margin-top: 4px;
    background-color: #333333;
    color: white;
    font-size: 12px;
    margin-left: 2%;
    border: 1px solid #333;
    font-weight: 500;
}
.per_address header button:hover {
    background-color: white;
    color: #333;
}
.per_address header button:focus {
    background-color: white;
    color: #333;
}
.per_address header p{
    line-height: 40px;
    color: rgba(51, 51, 51, 0.74);
}
.per_address_show>div{
    margin-top: 20px;
    height: 120px;
    background: url("../images/personal/per_address_bg1.png") no-repeat center;
    position: relative;
    background-size: 80% 120px;
}
.per_address_show>div:hover{
    background-image: url("../images/personal/per_address_bg2.png");
}
.per_address_show>div>div{
    width: 75%;
    margin: 1% auto ;
}
.per_address_show>div strong{
    position: absolute;
    right: 15%;
    top: 4%;
    display: none;
    font-size: 14px;
    color: #333;
}
.per_address_show>div strong:hover{
    cursor: pointer;
}
.per_address_show>div:hover strong{
    display: block;
}
.per_address_show .per_address_show_name{
    margin: 0 auto ;
    height: 40px;
    text-align: center;
    border-bottom: 1px dashed #999999;
    line-height: 40px;
    font-weight: 600;
}
.per_address_show .change_address{
    font-size: 12px;
    position: absolute;
    right: 35px;
    bottom: 5px;
    background-color: #333333;
    color: white;
    font-weight: 500;
    border: 1px solid #333;
    display: none;
}
.per_address_show .change_address:hover{
    color: #333333;
    background-color: white;
}
.per_address_show>div:hover .change_address{
    display: block;
}


/*模态框按钮*/
.modal h4{
    font-size: 16px;
    font-weight: 600;
}
.modal-footer .my_sure_btn{
    background-color: #ffcc66;
    color: white;
    font-weight: 500;
    border: 1px solid #ffcc66;
}
.modal-footer .my_sure_btn:hover{
    background-color: white;
    color: #ffcc66;
    border: 1px solid #ffcc66;
}
.modal-footer .my_close_btn{
    background-color: white;
    color: #ffcc66;
    font-weight: 500;
    border: 1px solid #ffcc66;
}
.modal-footer .my_close_btn:hover{
    background-color: #ffcc66;
    color: white;
    border: 1px solid #ffcc66;
}


/*申请售后模态框*/
#customer_service .modal-body{
    overflow: hidden;
}
#customer_service .modal-body span{
    font-size: 14px;
}
#customer_service ul,
#customer_service select,
#customer_service textarea,
#customer_service .per_describe {
    float: right;
}
#customer_service .per_describe{
    color: rgba(52, 52, 52, 0.63);
    margin-top: 82px;
    width: 20%;
    margin-bottom: 0;
}
#customer_service ul{
    width: 85%;
}
#customer_service textarea{
    width: 65%;
    border-radius: 3px;
    height: 100px;
}
#customer_service select{
    width: 65%;
    margin-right: 20%;
    height: 30px;
    line-height: 20px;
    font-size: 12px;
    color: rgba(52, 52, 52, 0.63);
}
#customer_service .modal-body div{
    height: 30px;
    margin: 10px 0;
}
#customer_service .modal-body div span{
    display: inline-block;
    width: 15%;
    line-height: 30px;
}
#customer_service ul li{
    outline: 1px solid rgba(0,0,0,.2);
    width: 15%;
    float: left;
    text-align: center;
    line-height: 30px;
    margin-right: 8%;
    color: rgba(52, 52, 52, 0.63);
}
#customer_service ul li:hover{
    cursor: pointer;
}
#change_address .modal-body label{
    width: 20%;
}
#change_address .modal-body input{
    width: 70%;
}
.per_choose_add label{
    height: 30px;
    line-height: 30px;
    width: 20%;
    float: left;
    margin-left: 5%;
}
.per_choose_add select{
    float: left;
    width: 23.3%;
}
.modal-dialog .modal-content .modal-body .form-group{
    margin-bottom: 22px !important;
}
#change_header .modal-content{
    width: 800px;
    margin: 0 auto;
}
.modal{
    z-index: 9999;
}

