.sjs_main{
    width: 80%;
    margin-left: 10%;
    overflow: hidden;
    position: relative;
}
.sjs_one{
    width: 579px;
    height: 104px;
    float: left;
    margin-left: 25%;
    margin-top: 10%;
    overflow: hidden;
}
.sjs_one h1{
    font-size: 18px;
    width: 225px;
    height: 40px;
    float: left;
    margin-left: 40%;
    margin-top: 5%;
    overflow: hidden;
}
.sjs_one p{
    width: 579px;
    height:64px;
    float: left;
    margin-left: 1%;
    margin-top: 1%;
    overflow: hidden;
}
.sjs_div1{
    width: 213px;
    height: 213px;
    border: solid #FFCC66;
    float: left;
    margin-left: 5%;
    margin-top: 6%;
    overflow: hidden;
}
/*Œƒ◊÷Œª÷√*/
.sjs_div1 h4{
    width: 80px;
    height:22px;
    float: left;
    margin-left: 35%;
    margin-top: 10%;
    overflow: hidden;
}
.sjs_div1 p{
    width: 153px;
    height:80px;
    float: left;
    margin-left: 10%;
    margin-top: 2%;
    overflow: hidden;
}
.sjs_div1 button{
    width: 100px;
    height:35px;
    float: left;
    margin-left: 28%;
    margin-top: 5%;
    background-color: #FFCC66;
    overflow: hidden;
    border: 1px solid #ffcc66;
    font-size: 12px;
}
.sjs_div1 button a{
    color: white;
    font-weight: 600;
}
.sjs_div1 button:hover{
    /*margin-top: 20px;*/
    background-color: white;
    color: #ffcc66;
    font-weight: 600;
    border: 1px solid #ffcc66;
}
.sjs_div1 button:hover a{
    color: #ffcc66;
}
.sjs_div1 button:focus{
    margin-top: 20px;
    background-color: white;
    color: #ffcc66;
    font-weight: 600;
    border: 1px solid #ffcc66;
}
.sjs_div1 button:focus a{
    color: #ffcc66;
}
.sjs_book0{
    width: 213px;
    height: 213px;
    float: left;
    margin-left: -2%;
    margin-top: 6%;
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.sjs_book00{
    width: 203px;
    height: 203px;
    border-radius:50%;
}
.sjs_book00:hover{
    box-shadow:1px 1px 1px 1px #ffcc00;
}
/*Õº∆¨Œª÷√*/
.sjs_book1{
    width: 213px;
    height: 213px;
    float: right;
    margin-right: -2%;
    margin-top: 6%;
    overflow: hidden;
    z-index: 1;
    position: relative;

}
.sjs_book11{
    width: 203px;
    height: 203px;
    border-radius: 50%;
}
.sjs_book11:hover{
    box-shadow:1px 1px 1px 1px #ffcc00;
}
.sjs_div2{
    width: 213px;
    height:213px;
    float: right;
    margin-right: 0;
    margin-top: 6%;
    border: solid #FFCC66;
    overflow: hidden;
}
.sjs_div2 h4{
    width: 80px;
    height:22px;
    float: left;
    margin-left: 35%;
    margin-top: 10%;
    overflow: hidden;
}
.sjs_div2 p{
    width: 153px;
    height:80px;
    float: left;
    margin-left: 10%;
    margin-top: 2%;
    overflow: hidden;
}
.sjs_div2 button{
    width: 100px;
    height:35px;
    float: left;
    margin-left: 28%;
    margin-top: 5%;
    background-color: #FFCC66;
    overflow: hidden;
    border: 1px solid #ffcc66;
    font-size: 12px;
}
.sjs_div2 button a{
    color: white;
    font-weight: 600;
}
.sjs_div2 button:hover{
    /*margin-top: 20px;*/
    background-color: white;
    color: #ffcc66;
    font-weight: 600;
    border: 1px solid #ffcc66;
}
.sjs_div2 button:hover a{
    color: #ffcc66;
}
.sjs_div2 button:focus{
    margin-top: 20px;
    background-color: white;
    color: #ffcc66;
    font-weight: 600;
    border: 1px solid #ffcc66;
}
.sjs_div2 button:focus a{
    color: #ffcc66;
}
/*.sjs_div3{*/
    /*width: 213px;*/
    /*height:213px;*/
    /*float: left;*/
    /*margin-left: -42%;*/
    /*margin-top: 10%;*/
    /*border: solid #FFCC66;*/
    /*overflow: hidden;*/
/*}*/
/*.sjs_div3 h4{*/
    /*width: 155px;*/
    /*height:22px;*/
    /*float: left;*/
    /*margin-left: 38%;*/
    /*margin-top: 10%;*/
    /*overflow: hidden;*/
/*}*/
/*.sjs_div3 p{*/
    /*width: 153px;*/
    /*height:75px;*/
    /*float: left;*/
    /*margin-left: 10%;*/
    /*margin-top: 10%;*/
    /*overflow: hidden;*/
/*}*/
/*.sjs_div3 button{*/
    /*width: 100px;*/
    /*height:35px;*/
    /*float: left;*/
    /*margin-left: 28%;*/
    /*margin-top: 10%;*/
    /*background-color: #FFCC66;*/
    /*overflow: hidden;*/
    /*border: 1px solid #ffcc66;*/
    /*font-size: 12px;*/
/*}*/
/*.sjs_div3 button a{*/
    /*color: white;*/
    /*font-weight: 600;*/
/*}*/
/*.sjs_div3 button:hover{*/
    /*margin-top: 20px;*/
    /*background-color: white;*/
    /*color: #ffcc66;*/
    /*font-weight: 600;*/
    /*border: 1px solid #ffcc66;*/
/*}*/
/*.sjs_div3 button:hover a{*/
    /*color: #ffcc66;*/
/*}*/
/*.sjs_div3 button:focus{*/
    /*margin-top: 20px;*/
    /*background-color: white;*/
    /*color: #ffcc66;*/
    /*font-weight: 600;*/
    /*border: 1px solid #ffcc66;*/
/*}*/
/*.sjs_div3 button:focus a{*/
    /*color: #ffcc66;*/
/*}*/
/*.sjs_book2{*/
    /*width: 213px;*/
    /*height: 213px;*/
    /*float: left;*/
    /*margin-left: -22%;*/
    /*margin-top: 11%;*/
    /*overflow: hidden;*/
    /*z-index: 1;*/
    /*position: relative;*/
/*}*/
/*.sjs_book22{*/
    /*width: 203px;*/
    /*height: 203px;*/
    /*border-radius: 50%;*/
/*}*/
/*.sjs_book22:hover{*/
    /*box-shadow:1px 1px 1px 1px #ffcc00;*/
/*}*/
/*.sjs_div4{*/
    /*width: 213px;*/
    /*height:213px;*/
    /*float: right;*/
    /*margin-right: 0;*/
    /*margin-top: 9%;*/
    /*border: solid #FFCC66;*/
    /*overflow: hidden;*/
/*}*/
/*.sjs_div4 h4{*/
    /*width: 155px;*/
    /*height:22px;*/
    /*float: left;*/
    /*margin-left: 38%;*/
    /*margin-top: 10%;*/
    /*overflow: hidden;*/
/*}*/
/*.sjs_div4 p{*/
    /*width: 153px;*/
    /*height:75px;*/
    /*float: left;*/
    /*margin-left: 10%;*/
    /*margin-top: 10%;*/
    /*overflow: hidden;*/
/*}*/
/*.sjs_div4 button{*/
    /*width: 100px;*/
    /*height:35px;*/
    /*float: left;*/
    /*margin-left: 28%;*/
    /*margin-top: 10%;*/
    /*background-color: #FFCC66;*/
    /*overflow: hidden;*/
    /*border: 1px solid #ffcc66;*/
    /*font-size: 12px;*/
/*}*/
/*.sjs_div4 button a{*/
    /*color: white;*/
    /*font-weight: 600;*/
/*}*/
/*.sjs_div4 button:hover{*/
    /*margin-top: 20px;*/
    /*background-color: white;*/
    /*color: #ffcc66;*/
    /*font-weight: 600;*/
    /*border: 1px solid #ffcc66;*/
/*}*/
/*.sjs_div4 button:hover a{*/
    /*color: #ffcc66;*/
/*}*/
/*.sjs_div4 button:focus{*/
    /*margin-top: 20px;*/
    /*background-color: white;*/
    /*color: #ffcc66;*/
    /*font-weight: 600;*/
    /*border: 1px solid #ffcc66;*/
/*}*/
/*.sjs_div4 button:focus a{*/
    /*color: #ffcc66;*/
/*}*/
/*.sjs_book3{*/
    /*width: 213px;*/
    /*height: 213px;*/
    /*float: right;*/
    /*margin-right: 19%;*/
    /*margin-top: -21%;*/
    /*overflow: hidden;*/
    /*z-index: 1;*/
    /*position: relative;*/
/*}*/
/*.sjs_book33{*/
    /*width: 203px;*/
    /*height: 203px;*/
    /*border-radius: 50%;*/
/*}*/
/*.sjs_book33:hover{*/
    /*box-shadow:1px 1px 1px 1px #ffcc00;*/
/*}*/
/*.sjs_div5{*/
    /*width: 213px;*/
    /*height:213px;*/
    /*float: left;*/
    /*margin-left:-42%;*/
    /*margin-top: 9%;*/
    /*border: solid #FFCC66;*/
    /*overflow: hidden;*/
/*}*/
/*.sjs_div5 h4{*/
    /*width: 155px;*/
    /*height:22px;*/
    /*float: left;*/
    /*margin-left: 38%;*/
    /*margin-top: 10%;*/
    /*overflow: hidden;*/
/*}*/
/*.sjs_div5 p{*/
    /*width: 153px;*/
    /*height:75px;*/
    /*float: left;*/
    /*margin-left: 10%;*/
    /*margin-top: 10%;*/
    /*overflow: hidden;*/
/*}*/
/*.sjs_div5 button{*/
    /*width: 100px;*/
    /*height:35px;*/
    /*float: left;*/
    /*margin-left: 28%;*/
    /*margin-top: 10%;*/
    /*background-color: #FFCC66;*/
    /*overflow: hidden;*/
    /*border: 1px solid #ffcc66;*/
    /*font-size: 12px;*/
/*}*/
/*.sjs_div5 button a{*/
    /*color: white;*/
    /*font-weight: 600;*/
/*}*/
/*.sjs_div5 button:hover{*/
    /*margin-top: 20px;*/
    /*background-color: white;*/
    /*color: #ffcc66;*/
    /*font-weight: 600;*/
    /*border: 1px solid #ffcc66;*/
/*}*/
/*.sjs_div5 button:hover a{*/
    /*color: #ffcc66;*/
/*}*/
/*.sjs_div5 button:focus{*/
    /*margin-top: 20px;*/
    /*background-color: white;*/
    /*color: #ffcc66;*/
    /*font-weight: 600;*/
    /*border: 1px solid #ffcc66;*/
/*}*/
/*.sjs_div5 button:focus a{*/
    /*color: #ffcc66;*/
/*}*/
/*.sjs_book4{*/
    /*width: 213px;*/
    /*height: 213px;*/
    /*float: left;*/
    /*margin-left: -22%;*/
    /*margin-top: 10%;*/
    /*overflow: hidden;*/
    /*z-index: 1;*/
    /*position: relative;*/
/*}*/
/*/!*Õº∆¨Œª÷√*!/*/
/*.sjs_book44{*/
    /*width: 203px;*/
    /*height: 203px;*/
    /*border-radius: 50%;*/
/*}*/
/*.sjs_book44:hover{*/
    /*box-shadow:1px 1px 1px 1px #ffcc00;*/
/*}*/
/*.sjs_book5{*/
    /*width: 213px;*/
    /*height: 213px;*/
    /*float: right;*/
    /*margin-right: 19%;*/
    /*margin-top: -21%;*/
    /*overflow: hidden;*/
    /*z-index: 1;*/
    /*position: relative;*/
/*}*/
/*.sjs_book55{*/
    /*width: 203px;*/
    /*height: 203px;*/
    /*border-radius: 50%;*/
/*}*/
/*.sjs_book55:hover{*/
    /*box-shadow:1px 1px 1px 1px #ffcc00;*/
/*}*/
/*.sjs_div6{*/
    /*width: 213px;*/
    /*height:213px;*/
    /*float: right;*/
    /*margin-right: 0;*/
    /*margin-top: 8%;*/
    /*border: solid #FFCC66;*/
    /*overflow: hidden;*/
/*}*/
/*.sjs_div6 h4{*/
    /*width: 155px;*/
    /*height:22px;*/
    /*float: left;*/
    /*margin-left: 38%;*/
    /*margin-top: 10%;*/
    /*overflow: hidden;*/
/*}*/
/*.sjs_div6 p{*/
    /*width: 153px;*/
    /*height:75px;*/
    /*float: left;*/
    /*margin-left: 10%;*/
    /*margin-top: 10%;*/
    /*overflow: hidden;*/
/*}*/
/*.sjs_div6 button{*/
    /*width: 100px;*/
    /*height:35px;*/
    /*float: left;*/
    /*margin-left: 28%;*/
    /*margin-top: 10%;*/
    /*background-color: #FFCC66;*/
    /*overflow: hidden;*/
    /*border: 1px solid #ffcc66;*/
    /*font-size: 12px;*/
/*}*/
/*.sjs_div6 button a{*/
    /*color: white;*/
    /*font-weight: 600;*/
/*}*/
/*.sjs_div6 button:hover{*/
    /*margin-top: 20px;*/
    /*background-color: white;*/
    /*color: #ffcc66;*/
    /*font-weight: 600;*/
    /*border: 1px solid #ffcc66;*/
/*}*/
/*.sjs_div6 button:hover a{*/
    /*color: #ffcc66;*/
/*}*/
/*.sjs_div16 button:focus{*/
    /*margin-top: 20px;*/
    /*background-color: white;*/
    /*color: #ffcc66;*/
    /*font-weight: 600;*/
    /*border: 1px solid #ffcc66;*/
/*}*/
/*.sjs_div6 button:focus a{*/
    /*color: #ffcc66;*/
/*}*/
