.sjs_main{
    width: 80%;
    margin-left: 10%;
    overflow: hidden;
}
#sjs_work01{
    float: left;
    margin-left: 10%;
    margin-top: 10%;
}
#sjs_ww01{
    width:500px;
    height: 335px;
    float:left;
    margin-left:-12%;
    margin-top:10%;
    background-color: #F2F2F2;
}
#sjs_ww01 h2{
    font-size: 16px;
    width: 60px;
    height: 40px;
    float: left;
    margin-left: 10%;
    margin-top: 10%;
    overflow: hidden;
}
.sjs_work01{
    float: left;
    margin-left: 0;
    margin-top: 8%;
    width:1349px;
    height:481px;
    border: solid;
    overflow: hidden;
}

#sjs_ww01 p{
    width: 400px;
    height: 300px;
    float: left;
    margin-left: 15%;
    margin-top: 10%;
    overflow: hidden;
}
#sjs_ww01 span{
    width: 60px;
    height: 20px;
    float: right;
    margin-right: 15%;
    margin-top: -35%;
    overflow: hidden;
}
#sjs_bok1{
    width: 200px;
    height: 200px;
    float: right;
    margin-right: 33%;
    margin-top: 15%;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: all 0.5s;
}
#sjs_bok1:hover{
    transform: scale(1.4);
    box-shadow:1px 1px 0px 0px #ffcc00;
}
#sjs_bok11{
    width: 450px;
    height: 450px;
    float: right;
    margin-right: 1%;
    margin-top: -30%;
    opacity: 0.5;
    overflow: hidden;
    transition: all 1s;
}
#sjs_bok11:hover{
    /*filter: alpha(Opacity=80);*/
    /*-moz-opacity: 0.8;*/
    /*opacity: 0.7;*/
    transform:rotate(10deg);
}
#sjs_work07 img{
    width: 500px;
    height: 385px;
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    overflow: hidden;
    opacity:0.9;
}
#sjs_work07 img:hover{
    filter: alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 1;
    box-shadow:1px 1px 0px 0px #ffcc00;
}
#sjs_work02{
    width: 500px;
    height: 335px;
    float: right;
    margin-right: -15%;
    margin-top: 5%;
    overflow: hidden;
}
#sjs_work02 h2{
    width:200px;
    height: 50px;
    font-size: 16px;
    float: left;
    margin-left: 5%;
    margin-top: 8%;
    overflow: hidden;
}
#sjs_work02 p{
    width: 330px;
    height: 335px;
    float: left;
    margin-left: 5%;
    margin-top: 2%;
    overflow: hidden;
}
#sjs_work03 img{
    width: 500px;
    height: 385px;
    float: right;
    margin-right: -15%;
    margin-top: 5%;
    overflow: hidden;
    opacity:0.9;
}
#sjs_work03 img:hover{
    filter: alpha(Opacity=80);
    -moz-opacity: 0.8;
    opacity: 1;
    box-shadow:1px 1px 0px 0px #ffcc00;
}
#sjs_work031{
    width: 500px;
    height: 335px;
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    overflow: hidden;
}
#sjs_work031 h2{
    width:200px;
    height: 50px;
    font-size: 16px;
    float: left;
    margin-left: 70%;
    margin-top: 8%;
    overflow: hidden;
}
#sjs_work031 p{
    width: 330px;
    height: 335px;
    float: left;
    margin-left: 15%;
    margin-top: 2%;
    overflow: hidden;
}
/*/!*.sjs_work04{*!/*/
    /*/!*height: 385px;*!/*/
    /*/!*float: left;*!/*/
    /*/!*margin-left: 0;*!/*/
    /*/!*margin-top: 5%;*!/*/
    /*/!*overflow: hidden;*!/*/
/*/!*}*!/*/
/*#sjs_work041{*/
    /*width: 500px;*/
    /*height: 335px;*/
    /*float: right;*/
    /*margin-right: -5%;*/
    /*margin-top: 10%;*/
    /*overflow: hidden;*/
/*}*/
/*#sjs_work04 img{*/
    /*width: 500px;*/
    /*height: 335px;*/
    /*float: left;*/
    /*margin-left: 0%;*/
    /*margin-top: 10%;*/
    /*overflow: hidden;*/
    /*opacity:0.9;*/
/*}*/
/*#sjs_work04 img:hover{*/
    /*filter: alpha(Opacity=80);*/
    /*-moz-opacity: 0.8;*/
    /*opacity: 1;*/
    /*box-shadow:1px 1px 0px 0px #ffcc00;*/
/*}*/
/*#sjs_work041 h2{*/
    /*width: 200px;*/
    /*height: 50px;*/
    /*font-size: 16px;*/
    /*float: left;*/
    /*margin-left: 10%;*/
    /*margin-top: 5%;*/
    /*overflow: hidden;*/
/*}*/
/*#sjs_work041 p{*/
    /*width: 330px;*/
    /*height: 335px;*/
    /*float: left;*/
    /*margin-left: 10%;*/
    /*margin-top: 2%;*/
    /*overflow: hidden;*/
/*}*/
/*.sjs_work05{*/
    /*height: 385px;*/
    /*float: left;*/
    /*margin-left: 0;*/
    /*margin-top: 5%;*/
    /*overflow: hidden;*/
/*}*/
/*#sjs_work051{*/
    /*width: 500px;*/
    /*height: 335px;*/
    /*float: left;*/
    /*margin-left: 5%;*/
    /*margin-top: 8%;*/
    /*overflow: hidden;*/
/*}*/
/*#sjs_work05 img{*/
    /*width: 500px;*/
    /*height: 335px;*/
    /*float: right;*/
    /*margin-right: -10%;*/
    /*margin-top: 6%;*/
    /*overflow: hidden;*/
    /*opacity:0.9;*/
/*}*/
/*#sjs_work05 img:hover{*/
    /*filter: alpha(Opacity=80);*/
    /*-moz-opacity: 0.8;*/
    /*opacity: 1;*/
    /*box-shadow:1px 1px 0px 0px #ffcc00;*/
/*}*/
/*#sjs_work051 h2{*/
    /*width: 200px;*/
    /*height: 50px;*/
    /*font-size: 16px;*/
    /*float: left;*/
    /*margin-left: 75%;*/
    /*margin-top: 5%;*/
    /*overflow: hidden;*/
/*}*/
/*#sjs_work051 p{*/
    /*width: 330px;*/
    /*height: 335px;*/
    /*float: left;*/
    /*margin-left: 20%;*/
    /*margin-top: 2%;*/
    /*overflow: hidden;*/
/*}*/
