*{margin:0;padding:0;}
	#timeline {
		width: 800px;
		height: 550px;
		overflow: hidden;
		margin: 30px auto;
		position: relative;
		background: url('../images/dot.gif') left 45px repeat-x;
	}
		#dates {
			width: 800px;
			height: 60px;
			overflow: hidden;
		}
			#dates li {
				list-style: none;
				float: left;
				width: 100px;
				height: 50px;
				font-size: 24px;
				text-align: center;
				background: url('../images/biggerdot.png') center bottom no-repeat;
			}
				#dates a {
					line-height: 38px;
					padding-bottom: 10px;
				}
				#dates a:hover{
					text-decoration: none;
				}
				#dates a:visited,#dates a:active,#dates a:link{
					text-decoration: none;
					color: #333333;
				}
				#dates .selected {
			        font-size: 38px;
				}
		
		#issues {
			width:800px;
			height: 350px;
		}	
			#issues li {
				width: 800px;
				height: 350px;
				list-style: none;
				float: left;
			}
				#issues li img {
					float: left;
                    width: 400px;
                    height: 400px;
					margin: 10px 30px 10px 50px;
                    border-radius: 5%;
				}
				#issues li h1 {
					color: #ffcc00;
					font-size: 48px;
					margin: 20px 0;
				}
				#issues li p {
                    text-align: left;
                    color: #000000;
                    font-size: 16px;
                    font-weight: normal;
                    line-height:30px;
					font-family: 微软雅黑;
				}
		
